

<div style="display:flex; flex-direction: column; width: 100%; height: 80%; align-items: center; justify-content: center;">

<h1 style="color: white;">View</h1>

<div id="<%= dom_id user %>" style="display: flex; flex-direction: column; background: black; border-radius: 10px; color: white; padding: 20px; width: 30%; height: 80%; align-items: center; font-size: 1.8rem;">
  <div style="display: flex; flex-direction: column; margin-top: 30px;">
  <p>
    <strong>Title:</strong>
    <%= user.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= user.dob %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>
  </div>
  <div style="display: flex; justify-content: space-around; width: 80%; align-self: center; margin-top: 50px;">
        
        <%= link_to '<button type="button" class="btn btn-light btn-lg">Back to Users</button>'.html_safe, users_path %>
        <%= link_to '<button type="button" class="btn btn-light btn-lg">Edit</button>'.html_safe, edit_user_path(@user) %>

        <%= button_to "Delete", @user, method: :delete, data: {  }, :class => "btn btn-light btn-lg" %>
        </div>

</div>
</div>
