<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.ISBN %>
  </p>

  <p>
    <strong>Loan status:</strong>
    <%= book.loan_status %>
  </p>

  <p>
    <strong>Loaned to:</strong>
    <%= book.loaned_to %>
  </p>

</div>
